<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
    <h1>Edit Product</h1>
    <form action="/products/show/<id>" action="post">
    	<p>Name</p>
    	<input type="text" name="product_name">
    	<p>Description</p>
    	<input type="text" name="product_description">
    	<p>Price</p>
    	<input type="text" name="product_price">
    	<input type="submit" name="update" value="Update">
    </form>
    	<a href="">Show</a>
    	<a href="">Back</a>  
  </body>
</html>